/* CSS RESET START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS RESET END */



/* BORDER START */
.border-dark {
  border: 1rem solid var(--dark);
}
/* BORDER END */



/* BUTTONS START */
.primary-button {
  border-radius: 2rem !important;
  width: 20rem !important;
  padding: 1.5rem;  
  font-size: 2rem !important;
  background-color: var(--secondary) !important;
  color: var(--lighter) !important;
  border-color: transparent;
  margin-top: 3rem !important;
  margin-bottom: 0rem !important;
}

.primary-button:hover,
.primary-button:focus,
.primary-button.active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
/* BUTTONS END */



/* COLORS START */
:root {
  --dark: #0E0202;
  --secondary: #620304;
  --primary: #A8001B;
  --light: #BBC5CE;
  --lighter: #E0E3E7;
}

.lighter {
  color: var(--lighter) !important;
}

.light {
  color: var(--light) !important;
}

.primary {
  color: var(--primary) !important;
}

.secondary {
  color: var(--secondary) !important;
}

.dark {
  color: var(--dark) !important;
}

.bg-lighter {
  background-color: var(--lighter) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}
/* COLORS END */



/* FONTS START */
:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Caveat', cursive;
}

body {
  font-family: var(--primary-font) !important;
}
/* FONTS END */



/* HEIGHTS START */
.min-vh-92 {
  min-height: 92vh !important;
}
/* HEIGHTS END */



/*  SMOOTH SCROLLING START */
html {
  scroll-behavior: smooth !important;
}
/* SMOOTH SCROLLING END */









/* APP NAVBAR START */
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active {
  background-color: var(--light) !important;
  color: var(--dark) !important;
}

.dropdown-menu {
  background-color: var(--dark) !important;
}

.nav-link {
  color: var(--lighter) !important;
}

.navbar-brand {
  font-family: var(--secondary-font) !important;
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}

.nav-link:hover, 
.navbar-brand:hover {
  color: var(--light) !important;
}

.navbar-toggler {
  background-color: var(--lighter) !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.15rem var(--light) !important;
}

.navbar-toggler:hover {
  background-color: var(--light) !important;
}
/* APP NAVBAR END */



/* BANNER COMPONENT START */
#home-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./images/banner_background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#error-banner-text {
  color: var(--dark) !important;
}

#home-banner-text {
  color: var(--lighter) !important;
}

#error-banner-title {
  font-weight: 700 !important;
  font-size: 10rem !important;
}

#home-banner-title {
  font-family: var(--secondary-font) !important;
  font-weight: 700 !important;
  font-size: 10rem !important;
}

#home-banner-subtitle,
#error-banner-subtitle {
  font-size: 2rem !important;
}
/* BANNER COMPONENT END */



/* CARD COMPONENT START */
.cardHighlight {
  min-height: 100%;
}
/* CARD COMPONENT END */



/* MAIN TITLE START */
.main-title {
  font-family: var(--secondary-font) !important;
  font-size: 3rem !important;
}
/* MAIN TITLE END */



/* PREVIEW PRODUCT START */
#preview-product-img {
  height: 17rem !important;
}
/* PREVIEW PRODUCT END */









/* PRODUCTS START */
.products-img {
  height: 25rem !important;
}

.products-img:hover,
.products-img:focus, 
.products-img.active {
  border: 1rem solid var(--primary); 
}
/* PRODUCTS END */



/* SINGLE PRODUCT PAGE START */
#quantity-input-group {
  width: 10rem !important;
}

#quantity-field::-webkit-inner-spin-button,
#quantity-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#quantity-field {
  -moz-appearance: textfield; /*For Mozilla Firefox*/
}
/* SINGLE PRODUCT PAGE END */